:root {
 --premier-text-color: #757575;
 --title-color: #212121;
 --accent-color: #2196f3;
 --accent-font: "Raleway", sans-serif;
 --background-color: #2f303a;
 --background-color-second: #ffffff;

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}
ul {
 list-style: none;
 margin: 0;
 padding: 0;
}
/* --------STUDIO-------*/

body {
 font-family: "Roboto", sans-serif;
 font-weight: 700;
 margin: 0;
}

.container {
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}
/*------------------HEADER-------------------*/

/* ==Logo== */

.header-wrap {
 display: flex;
}

.logo {
 color: #000000;
 font-family: var(--accent-font);
 font-style: normal;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.1923;
 color: var(--accent-color);
 text-decoration: none;
 padding-left: 15px;
 padding-top: 24px;
 padding-bottom: 25px;
}

.text-studio {
 font-size: 26px;
 line-height: 1.1923;
 color: #000;
}

/* ==Navigation== */

.header-nav {
 list-style: none;
 display: flex;
 gap: 50px;
 margin-left: 93px;
 padding-top: 32px;
}

.header-nav a {
 font-weight: 500;
 font-size: 14px;
 line-height: 1.1428;
 color: var(--title-color);
 text-decoration: none;
}

.header-nav-links:hover,
.header-nav-links:focus,
.header-nav-links.current {
 color: var(--accent-color);
}

.header-nav-links:active {
 color: #000;
}

/* ==Header Contacts== */

.contacts {
 list-style: none;
 font-style: normal;
 display: flex;
 margin-left: 344px;
 padding-top: 32px;
 gap: 50px;
}

.contact {
 font-weight: 500;
 font-size: 14px;
 line-height: 1.1428;
 letter-spacing: 0.02em;

 color: var(--premier-text-color);

 text-decoration: none;
}

.contact:hover {
 color: var(--accent-color);
}

.mailto:hover {
 color: var(--accent-color);
}

/*================MAIN=================*/

/*-------------HERO------------*/

.hero {
 background-color: var(--background-color);
}
.hero-container {
 margin: 200px, 452px, 280px, 452px;
}
.hero-title {
 font-weight: 900;
 font-size: 44px;
 line-height: 1.3636;

 letter-spacing: 0.06em;
 text-transform: uppercase;

 color: var(--background-color-second);

 text-align: center;
 padding-top: 200px;

 padding-left: 252px;
 padding-right: 252px;
 margin-bottom: 30px;
}

.hero-button {
 padding-left: 492px;
 padding-bottom: 200px;
}

.hero-btm {
 font-weight: 700;
 font-size: 16px;
 line-height: 1.875;
 display: block;

 letter-spacing: 0.06em;

 color: var(--background-color-second);

 background: var(--accent-color);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 cursor: pointer;

 width: 216px;
 height: 4.32;
}

/*------our strong sides------*/

.strongsides {
 display: flex;
 list-style: none;
 padding-top: 94px;
 padding-left: 15px;
 padding-right: 15px;

 gap: 30px;
 background-color:var(--background-color-second);
}

.strongsides-list {
 width: calc((100%-90px) / 4);
}

.strongsides h3 {
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;

 color: var(--title-color);
}

.strongsides p {
 font-weight: 400;
 font-size: 14px;
 line-height: 1.7142;

 letter-spacing: 0.03em;

 color: var(--premier-text-color);
}
.strongsides-title:hover {
 color: var(--accent-color);
}
/*our activities*/
.container-activites {
  background-color: var(--background-color-second);
  

}

.title-activites {
 font-size: 36px;
 line-height: 1.1666;

 letter-spacing: 0.03em;

 color: var(--title-color);
 text-align: center;
 padding-top: 94px;
 padding-left: 417 px;
 padding-bottom: 50px;
 
}

.pictures-activites {
 list-style: none;
 display: flex;
 gap: 30px;
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 94px;
;
}

/*____our team_____*/

.container-team{ background: #F5F4FA;
  
}

.title-team {
 font-size: 36px;
 line-height: 1.1666;

 letter-spacing: 0.03em;

 color: var(--title-color);
 padding-top: 94px;
 padding-bottom: 50px;
 padding-left: 468px;
 
}

.studio-team {
 list-style: none;
 display: flex;
 gap: 30px;
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 94px;
 background: #F5F4FA;

}

.team-list {
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
 background: #FFFFFF;;

}

.list-team h3 {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.1875;

 letter-spacing: 0.03em;

 color:var(--title-color);
}

.list-team p {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.1875;

 letter-spacing: 0.03em;

 color: var(--premier-text-color);
 padding-bottom: 94;
}
.igor:hover,
.olga:hover,
.mykola:hover,
.myhailo:hover {
 color: var(--accent-color);
}

.igor {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.1875;

 letter-spacing: 0.03em;

 color: var(--title-color);
 padding-top: 30px;
 padding-bottom: 10px;
 text-align: center;
}
.olga {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.1875;

 letter-spacing: 0.03em;

 color: var(--title-color);
 padding-top: 30px;
 padding-bottom: 10px;
 text-align: center;
}
.mykola {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.1875;

 letter-spacing: 0.03em;

 color: var(--title-color);
 padding-top: 30px;
 padding-bottom: 10px;
 text-align: center;
}
.myhailo {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.1875;

 letter-spacing: 0.03em;

 color: var(--title-color);
 padding-top: 30px;
 padding-bottom: 10px;
 text-align: center;
}

.job-position {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.1875;

 letter-spacing: 0.03em;

 color: var(--premier-text-color);
 padding-bottom: 30px;
 text-align: center;
}

/*----FOOTER----*/

.footer {
 background-color: var(--background-color);
 display: flex;
}
.footer-container {
 padding-top: 60px;
 padding-bottom: 60px;
}

.footer-logo {
 font-family: "Raleway";
 font-style: normal;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.1923;

 letter-spacing: 0.03em;
 width: 145px;
 height: 31px;

 color: var(--accent-color);
 text-decoration: none;
 padding-left: 15px;
 padding-top: 60px;
}

.footer-text-studio {
 color: var(--background-color-second);
}

.footer-nav {
 list-style: none;
}

.footer-nav-adress {
 font-style: normal;

 font-weight: 400;
 font-size: 14px;
 line-height: 1.714;

 letter-spacing: 0.03em;

 color: var(--background-color-second);
 text-decoration: none;
}
.footer-nav-adress:hover {
 color: var(--accent-color);
}

.footer-contacts {
 display: block;

 margin-left: 15px;
 padding-top: 20px;
 padding-bottom: 60px;
}

.footer-contact {
 font-weight: 400;
 font-style: normal;
 text-decoration: none;

 color: rgba(255, 255, 255, 0.6);
}

.footer-mailto {
 font-weight: 400;
 display: inline-block;
 padding-bottom: 9px;
 padding-top: 9px;

 width: 231px;
 height: 21px;
}

/*---------------PORTFOLIO-----------------*/

/*---Maine---*/

.portfolio-nav {
 list-style: none;
 display: flex;
 gap: 8px;
 margin-left: 312px;
 padding-top: 100px;
}

.portfolio-nav-btn {
 text-decoration: none;
 font-family: "Roboto", sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.625;
 letter-spacing: 0.03em;
 color: var(--title-color);
 background: #f5f4fa;
 cursor: pointer;
 border: none;
 border-radius: 4px;
 padding: 22px, 6px;
}

.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
 color: var(--background-color-second);
 background: var(--accent-color);
}

.portfolio-nav-btn:active {
 color: var(--background-color-second);
}

.portfolio-list-photo {
 list-style: none;
 display: flex;
 margin-top: 50px;

 flex-wrap: wrap;
 gap: 30px;
 padding-bottom: 94px;
}

.portfolio-list-photo h2 {
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;

 color: var(--title-color);
}

.portfolio-list-photo p {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.6666;

 letter-spacing: 0.03em;

 color: var(--premier-text-color);
}
.portfolio-titles:hover {
 color: var(--accent-color);
}
