/*-----HEADER-----*/

/* Logo */

.logo {
  color: #000;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 1923;
  color: #2196f3;
  text-decoration: none;
}

.text-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 1923;
  color: #000;
}

/* Navigation */

.header-nav {
  list-style: none;
}

.header-nav a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 1428;
  color: #212121;
  text-decoration: none;
}

.header-nav-links:hover,
.header-nav-links:focus,
.header-nav-links.current {
  color: #2196f3;
}

.header-nav-links:active {
  color: #000;
}

/* Header Contacts */

.header-contacts {
  list-style: none;
}

.header-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 1428x;
  letter-spacing: 0.02em;

  color: #757575;

  text-decoration: none;
}

.header-mailto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 1428;
  letter-spacing: 0.02em;
  color: #2196f3;

  text-decoration: none;
}



.header-contact:hover {
  color: #2196f3;
}

.header-mailto:hover {
  color: #757575;
}


/*---MAIN---*/

/*Hero*/

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 3636;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-btm {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*our strong sides*/

.strongsides {
  list-style: none;
}

.strongsides h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.strongsides p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7142;

  letter-spacing: 0.03em;

  color: #757575;
}

/*our activities*/

.title-activites {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 1666;

  letter-spacing: 0.03em;

  color: #212121;
}

.pictures-activites {
  list-style: none;
}

/*our team*/

.title-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;

  color: #212121;
}

.list-team {
  list-style: none;
}

.list-team h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 1875;

  letter-spacing: 0.03em;

  color: #212121;
}

.list-team p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 1875;

  letter-spacing: 0.03em;

  color: #757575;
}

/*----FOOTER----*/

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 1923;

  letter-spacing: 0.03em;
  text-decoration: none;

  color: #2196f3;
}

.footer-text-studio {
  color: #ffffff;
}

.footer-nav {
  list-style: none;
}

.footer-nav-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;

  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
}

.footer-nav-mailto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;

  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;

  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-adress:active {
  color: #2196F3;
}

.footer-nav-mailto:active {
  color: #2196F3;
}

.footer-nav-contact:active {
  color: #2196F3;
}

.footer-nav-mailto :current {
  color: #2196F3;
}

/*----------PORTFOLIO-----------------*/


/*---Maine---*/

.portfolio-nav {
  list-style: none;
}

.portfolio-nav-btn {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA
}

.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
  color: #FFFFFF;
  background: #2196F3;
}

.portfolio-nav-btn:active {
  color: #FFFFFF;

}

.portfolio-list-photo {
  list-style: none;
}

.portfolio-list-photo h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-list-photo p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;

  color: #757575;
}